html {
    color: #333;
}

html, input, textarea, button {
    font: 12px 'Segoe UI', Tahoma, sans-serif;
}

html, body, #container {
    height: 100%;
}

body {
    overflow-y: scroll;
    margin: 0;
}

::selection {
    background: #AAC300;
    color: #000000;
}

::-moz-selection {
    background: #AAC300;
    color: #000000;
}

.elink {
    text-decoration: underline;
    cursor: pointer;
}

.elink:hover {
    text-decoration: none;
}

.elink:active {
    color: #f55;
    text-decoration: none;
}

.tooltip {
    position: fixed;
    z-index: 9999;
    margin: 5px;
    padding: 3px 5px;
    min-width: 120px;
    max-width: 260px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    color: #AAC300;
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4) url(../img/loader.gif) no-repeat 50% 50%;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.cleared {
    clear: both;
}

.boxwrap {
    position: relative;
    margin: 0 auto;
    min-width: 800px;
    max-width: 1200px;
    width: 80%;
}

#header {
    position: relative;
    height: 80px;
    border-bottom: 1px solid #000;
    background: #404040;
    color: #eeeeee;
    text-shadow: 1px 1px 0px #000;
}

#main {
    margin: -81px 0 -41px;
    min-height: 100%;
}

#allbox {
    padding: 110px 0 70px;
}

#logo {
    position: relative;
    width: 180px;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#logo a {
    position: absolute;
    top: 20px;
    left: 0;
    display: inline-block;
    width: 165px;
    height: 33px;
    background: url(../img/logo.png) no-repeat 0 -32px;
    text-decoration: none;
    font-size: 0;
    opacity: .8;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

#logo a:hover {
    opacity: 1;
}

#infoarea {
    float: right;
    padding: 9px 0;
}

.info {
    float: left;
    width: 350px;
    word-spacing: nowrap;
}

.projectinfo {
    width: 100%;
    border-spacing: 0 0;
    border-collapse: collapse;
}

.projectinfo td {
    padding: 3px;
    vertical-align: top;
}

.projectinfo .name {
    width: 100px;
    font-weight: bold;
}

.projectinfo .value {
    width: auto;
}

.options {
    float: right;
    margin: 0;
    padding: 0 14px;
    height: 60px;
    border: 1px solid #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #eeeeee;
    -webkit-transition: background 0.17s ease;
    -moz-transition: background 0.17s ease;
    -o-transition: background 0.17s ease;
    -khtml-border-radius: 3px;
    -khtml-transition: background 0.17s ease;
}

.options:hover {
    background: #fff;
}

.iconset {
    display: inline-block;
    margin: 14px 7px;
    width: 32px;
    height: 32px;
    background: url(../img/icons_32x.png) no-repeat 0 0;
    opacity: .44;
    cursor: pointer;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

.iconset:hover {
    opacity: 1;
}

.iconset:active {
    opacity: .88;
}

.iconset.new {
    background-position: 0 0;
}

.iconset.download_zip {
    background-position: 0 -32px;
}

.iconset.download_file {
    background-position: 0 -64px;
}

.startmenu {
    position: relative;
    margin: auto;
    width: 600px;
    height: 160px;
}

.startmenu .list {
    float: left;
    padding: 10px 0 20px;
    width: 200px;
    height: 150px;
    text-align: center;
    cursor: pointer;
}

.startmenu .list:hover h1 {
    color: #aac300;
}

.startmenu .list:hover p {
    color: #404040;
}

.startmenu .list.new {
    background: url(../img/vline.png) no-repeat 100% 50%, url(../img/new.png) no-repeat 50% 40%;
}

.startmenu .list.url {
    background: url(../img/vline.png) no-repeat 100% 50%, url(../img/url.png) no-repeat 50% 40%;
}

.startmenu .list.file {
    background: url(../img/file.png) no-repeat 50% 40%;
}

.startmenu h1 {
    margin: 10px 0 80px;
    padding: 0 15px;
    color: #404040;
    font-size: 1.1em;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

.startmenu p {
    margin: 5px 0;
    padding: 0 15px;
    color: #8A8A8A;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

#footer {
    position: relative;
    height: 40px;
    border-top: 1px solid #cfcfcf;
    background: #eeeeee;
    color: #a9a7a7;
    text-align: right;
    line-height: 40px;
}

.lang {
    float: left;
}

.lang ul {
    margin: 0;
    padding: 0;
}

.lang ul li {
    display: inline-block;
    margin: 0 5px 0 0;
    text-decoration: underline;
    cursor: pointer;
}

.lang ul li:hover {
    text-decoration: none;
}

.lang ul li.active {
    color: #404040;
    text-decoration: none;
    cursor: default;
}

#editor {
    display: table;
    width: 100%;
}

#editor .left, #editor .right {
    display: table-cell;
    padding: 0 5px;
    vertical-align: top;
}

#editor .left {
    width: 200px;
}

.itemlist .list {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0 15px;
    min-width: 50px;
    height: 33px;
    color: #c1c1c1;
    text-align: center;
    font-weight: bold;
    line-height: 33px;
    cursor: pointer;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

.itemlist .list:hover {
    color: #AAC300;
}

.itemlist .list:active {
    color: #f55;
}

.itemlist .list.active {
    border: 1px solid #CFCFCF;
    border-bottom: 0 !important;
    border-radius: 2px 2px 0 0;
    background: #eeeeee;
    color: #404040;
}

.itemarea {
    margin-top: -1px;
    padding: 5px;
    border: 1px solid #CFCFCF;
    border-radius: 2px;
    background: #eeeeee;
}

.listoption {
    margin-bottom: 5px;
    padding: 0 10px;
    height: 30px;
    border-radius: 2px;
    background: #fff;
    line-height: 30px;
}

.listoption .list {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0 0 0 20px;
    height: 16px;
    background: url(../img/icons_16x.png) no-repeat 0 0;
    color: #727272;
    font-weight: bold;
    line-height: 16px;
    cursor: pointer;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

.listoption .list:hover {
    color: #AAC300;
}

.listoption.off .list {
    color: #eeeeee !important;
    cursor: default !important;
}

.listoption .list.priority {
    background-position: 0 0;
}

.listoption .list.delete {
    background-position: 0 -32px;
}

.listoption.off .list.priority {
    background-position: 0 -16px;
}

.listoption.off .list.delete {
    background-position: 0 -48px;
}

.listarea {
    padding: 10px;
    min-height: 200px;
    border-radius: 2px;
    background: #fff;
}

.menu {
}

.menu .list {
    display: block;
    margin: 1px 0;
    height: 20px;
    color: #404040;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

.menu .list:hover {
    color: #AAC300;
}

.menu .list.active {
    color: #AAC300;
}

.itemselectarea {
    display: block;
    margin: 0;
    text-align: right;
}

.itemselect {
    display: inline-block;
    height: 16px;
    background: url(../img/icons_16x.png) no-repeat 0 -64px;
    color: #AAC300;
    text-indent: 18px;
    line-height: 16px;
    cursor: pointer;
    -webkit-transition: color 0.17s ease;
    -moz-transition: color 0.17s ease;
    -o-transition: color 0.17s ease;
    -khtml-transition: color 0.17s ease;
}

.itemselect:hover {
    background-position: 0 -80px;
    color: #404040;
}

.itemselect:active {
    color: #f55;
}

.iteminfo {
    margin: 0 10px 5px 0;
    padding: 5px 0 10px;
    border-bottom: 1px solid #CFCFCF;
}

.iteminfo .itemname {
    color: #404040;
    font-weight: bold;
}

.iteminfotable {
    width: 100%;
    border-spacing: 0 0;
    border-collapse: collapse;
}

.iteminfotable td {
    padding: 2px 0 2px 8px;
}

.iteminfotable .name {
    width: 90px;
}

.listtable {
    width: 100%;
    border-spacing: 0 0;
    border-collapse: collapse;
}

.listtable thead {
    color: #404040;
    font-weight: bold;
    background: #EEEEEE;
}

.listtable td {
    padding: 8px;
    vertical-align: top;
    cursor: default;
}

.listtable td.name {
    overflow: hidden;
    box-sizing: content-box;
    max-width: 200px;
    white-space: nowrap;
}

.listtable tbody tr {
    border-bottom: 1px solid #f5f5f5;
    background: #fff;
    -webkit-transition: all 0.37s ease;
    -moz-transition: all 0.37s ease;
    -o-transition: all 0.37s ease;
    -khtml-transition: all 0.37s ease;
}

.listtable tbody tr:hover {
    background: #ebf6fb;
}

.listtable tr.checked {
    background: #f3f7da;
}

.listtable .checkbx {
    width: 16px;
}

.listtable .name {
    overflow: hidden;
    width: auto;
    word-spacing: nowrap;
}

.listtable .priority {
    width: 80px;
    text-align: right;
}

.listtable .option {
    width: 100px;
}

.listtable tr:hover .iconset.x16 {
    opacity: .44;
}

.iconset.x16 {
    display: inline-block;
    margin: 1px 2px;
    width: 16px !important;
    height: 16px !important;
    background: url(../img/icons_16x.png) no-repeat;
    vertical-align: text-top;
    font-size: 0;
    opacity: .11;
    cursor: pointer;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

.listtable tr:hover .iconset.x16:hover {
    opacity: 1;
}

.iconset.x16:active {
    opacity: .88;
}

.iconset.x16.edit {
    background-position: 0 -96px;
}

.iconset.x16.priority {
    background-position: 0 0;
}

.iconset.x16.delete {
    background-position: 0 -32px;
}

.button, input[type="file"] {
    display: inline-block;
    margin: 5px;
    padding: 0 15px;
    height: 24px;
    border-radius: 2px;
    background: #404040 url(../img/light.png) repeat-x;
    color: #fff;
    line-height: 24px;
    cursor: pointer;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

.button:hover {
    opacity: .80;
}

.button:active {
    opacity: .95;
}

.button.add {
    position: relative;
    float: right;
    margin: 0 -10px 0 0;
    padding: 0 15px 0 33px;
    height: 30px;
    border-radius: 0 2px 2px 0;
    background-color: #AAC300;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
}

.button.add:after {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
    background: url(../img/icons_16x.png) no-repeat 0 -160px;
    content: "";
}

.button.save {
    background-color: #AAC300;
}

.button.file {
    position: relative;
    background-color: #0162ac;
}

.button-holder {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
}

.fileinfo {
    color: #A9A7A7;
    font-style: italic;
}

/*----------*/
ul.areaset {
    margin:0 .3em;
    padding:0;
    list-style-type: none;
}
ul.areaset li {
    display: block;
    margin:.5em 0;
    padding:0;
}

.p-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    min-width: 600px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
}

.p-box {
    display: inline-block;
    min-width: 350px;
    max-width: 60%;
    border-radius: 4px;
}

.p-title {
    position: relative;
    padding: 0 28px 0 8px;
    height: 24px;
    border-radius: 3px 3px 0 0;
    background: #404040 url(../img/light.png) repeat-x;
    color: #fff;
    font-weight: bold;
    line-height: 24px;
    cursor: move;
    -o-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -webkit-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

.p-box.error .p-title {
    background-color: #933;
}

.p-box.confirm .p-title {
    background-color: #963;
}

.p-title:hover {
    opacity: .95;
}

.p-close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    background: url(../img/icons_16x.png) no-repeat 0 -128px;
    opacity: .5;
    cursor: pointer;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

.p-title:hover .p-close:hover {
    opacity: 1;
}

.p-content-area {
    padding: 5px 8px;
    border-radius: 0 0 3px 3px;
    background: #fff;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
}

.p-content-clear {
    border: 1px dashed #404040;
    border-radius: 0;
    background: transparent;
}

.p-content {
    padding: 3px 0;
}

.p-footer {
    padding: 0 0 3px;
    text-align: right;
}

.p-footer .button {
    margin: 0 0 0 5px;
}

/*----*/
.info-txt {
    position: relative;
    display: block;
    clear: both;
    margin: 0;
    padding: 0 0 5px;
    min-height: 16px;
    color: #404040;
    vertical-align: middle;
    text-indent: 21px;
}

.info-txt.error {
    position: relative;
    color: #FF5555;
}

.info-txt:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/icons_16x.png) no-repeat 0 -192px;
}

.info-txt.error:before {
    background: url(../img/icons_16x.png) no-repeat 0 -176px;
}

/*----*/
#addmod-box {
    display: inline-block;
    padding: .5em;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    background: #f0f0f0;
    box-sizing: border-box;
}

#addmod {
    position: relative;
    display: table;
    overflow: hidden;
    box-sizing: border-box;
}

#addmod .linearea {
    position: relative;
    display: table-cell;
    vertical-align: top;
    margin: 0;
    padding: .5em;
    border: 1px solid #cfcfcf;
    background: #ffffff;
    width: 400px;
    height: 150px;
    min-width: 400px;
    min-height: 150px;
    max-width: 800px;
    max-height: 500px;
    box-sizing: border-box;
}

#addmod .linearea textarea, #addmod .row {
    line-height: normal !important;
}

#addmod .lined {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
    box-sizing: border-box;
    background: transparent;
    color: #404040;
    resize: none !important;
}

#addmod .linearea textarea:focus {
    outline: none;
}

#addmod .numbox {
    position: relative;
    float: left;
    display: inline-block;
    padding: .5em 0;
    width: 50px;
    height: 150px;
    min-height: 150px;
    max-height: 500px;
    background: #f0f0f0;
    vertical-align: top;
    overflow: hidden;
}

#addmod .num {
    position: relative;
}

#addmod .row {
    display: block;
    padding-right: 5px;
    border-right: 3px solid transparent;
    color: #787878;
    text-align: right;
    text-indent: 20px;
    white-space: nowrap;
}

#addmod .row.error {
    background: url(../img/icons_16x.png) no-repeat 0 -176px;
}

#addmod .row.active {
    border-color: #0162AC;
}

#addmod .resize {
    position: absolute;
    right: .5em;
    bottom: .5em;
    width: 16px;
    height: 16px;
    background: #fff url(../img/icons_16x.png) no-repeat 0 -112px;
    opacity: .4;
    cursor: se-resize;
}

#addmod .resize:hover {
    opacity: 1;
}

.line-box {
    position: relative;
    margin: 3px 0;
    padding: 3px 5px;
    border: 1px solid #a0a0a0;
    background-color: #fff;
    border-radius: 2px;
}

.line-box.error {
    border: 1px solid #f55;
    background-color: #fee;
    color: #f55;
}

.line-box input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 3px 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    color: inherit;
    -o-box-sizing: border-box;
    -khtml-box-sizing: border-box;
}

.line-box.range {
    padding: 3px 55px 3px 5px;
}

.rangebox {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
}

.rangebox .range {
    position: absolute;
    top: 0;
    width: 25px;
    height: 100%;
    background: #f0f0f0 url(../img/light.png);
    cursor: pointer;
}

.rangebox .range:hover {
    background-color: #404040;
}

.rangebox .range.top {
    left: 0;
}

.rangebox .range.bottom {
    left: 25px;
}

.rangebox .range.top:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 6px;
    margin: -3px 2px 0 0;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid #999;
    z-index: 1;
}

.rangebox .range.bottom:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 6px;
    margin: -3px 2px 0 0;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #999;
    z-index: 1;
}

.rangebox .range.top:hover::after {
    border-bottom: 5px solid #fff;
}

.rangebox .range.bottom:hover::after {
    border-top: 5px solid #fff;
}


#browsers_box {
    position: relative;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#browsers_box .item {
    float: left;
    margin: 0 20px;
    width: 100px;
    text-align: center;
}

#browsers_box .browsers {
    display: block;
    margin: 10px 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background: url(../img/browsers.jpg) no-repeat;
}

#browsers_box .browsers.chrome {
    background-position: 0 0;
}

#browsers_box .browsers.firefox {
    background-position: -100px 0;
}

#browsers_box .browsers.opera {
    background-position: -200px 0;
}

#browsers_box .browsers.safari {
    background-position: -300px 0;
}

.drop {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

#sortable {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

#sortable li {
    display: block;
    margin: 3px;
    padding: 0 7px;
    height:24px;
    line-height:24px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-style: italic;
    cursor: default;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

#sortable .default:hover, #sortable .active {
    border: 1px solid #AAC300;
    background: #AAC300;
    color: #fff;
    cursor: move;
}

#sortable .move {
    display: block;
    margin: 3px;
    padding: 0 7px;
    height:24px;
    line-height:24px;
    border: 1px dashed #727272;
    background: #fff;
    color: #000;
    font-style: italic;
    -webkit-transition: all 0.17s ease;
    -moz-transition: all 0.17s ease;
    -o-transition: all 0.17s ease;
    -khtml-transition: all 0.17s ease;
}

#sortable .move-hover {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 5px;
    padding: 7px;
    background: #fff;
    color: #fff;
    white-space: nowrap;
}